#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys//             w    h    x    y     rot    rx    ry
    = <&key_physical_attrs 100 100    0   20      0     0     0> //0
    , <&key_physical_attrs 100 100  100   10      0     0     0> //1
    , <&key_physical_attrs 100 100  200    0      0     0     0> //2
    , <&key_physical_attrs 100 100  300    5      0     0     0> //3
    , <&key_physical_attrs 100 100  400   15      0     0     0> //4
    , <&key_physical_attrs 100 100  500   30      0     0     0> //5
    , <&key_physical_attrs 100 100    0  120      0     0     0> //6
    , <&key_physical_attrs 100 100  100  110      0     0     0> //7
    , <&key_physical_attrs 100 100  200  100      0     0     0> //8
    , <&key_physical_attrs 100 100  300  105      0     0     0> //9
    , <&key_physical_attrs 100 100  400  115      0     0     0> //10
    , <&key_physical_attrs 100 100  500  130      0     0     0> //11
    , <&key_physical_attrs 100 100    0  220      0     0     0> //12
    , <&key_physical_attrs 100 100  100  210      0     0     0> //13
    , <&key_physical_attrs 100 100  200  200      0     0     0> //14
    , <&key_physical_attrs 100 100  300  205      0     0     0> //15
    , <&key_physical_attrs 100 100  400  215      0     0     0> //16
    , <&key_physical_attrs 100 100  500  230      0     0     0> //17
    , <&key_physical_attrs 100 100    0  320      0     0     0> //18
    , <&key_physical_attrs 100 100  100  310      0     0     0> //19
    , <&key_physical_attrs 100 100  200  300      0     0     0> //20
    , <&key_physical_attrs 100 100  300  305      0     0     0> //21
    , <&key_physical_attrs 100 100  400  315      0     0     0> //22
    , <&key_physical_attrs 100 100  500  330      0     0     0> //23
    , <&key_physical_attrs 100 100  200  400       0     0    0>//24
    , <&key_physical_attrs 100 100  300  400       0     0    0>//25
    , <&key_physical_attrs 200 100  350  550    31500 350  550>//26
    , <&key_physical_attrs 200 100  420  620    31500 420  620>//27
    , <&key_physical_attrs 100 100  0    920   33000    50   50> //28
    , <&key_physical_attrs 100 100  100  920   33000    50   50> //29
    , <&key_physical_attrs 100 100  0    820   33000    50   50> //30
    , <&key_physical_attrs 100 100  100  820   33000    50   50> //31
            ;
    };
};
