#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   20       0     0     0>//0
            , <&key_physical_attrs 100 100  100   10       0     0     0>//1
            , <&key_physical_attrs 100 100  200    0       0     0     0>//2
            , <&key_physical_attrs 100 100  300    5       0     0     0>//3
            , <&key_physical_attrs 100 100  400   15       0     0     0>//4
            , <&key_physical_attrs 100 100  500   30       0     0     0>//5
            , <&key_physical_attrs 100 100  700   30       0     0     0>//6
            , <&key_physical_attrs 100 100  800   15       0     0     0>//7
            , <&key_physical_attrs 100 100  900    5       0     0     0>//8
            , <&key_physical_attrs 100 100 1000    0       0     0     0>//9
            , <&key_physical_attrs 100 100 1100   10       0     0     0>//10
            , <&key_physical_attrs 100 100 1200   20       0     0     0>//11
            , <&key_physical_attrs 100 100    0  120       0     0     0>//12
            , <&key_physical_attrs 100 100  100  110       0     0     0>//13
            , <&key_physical_attrs 100 100  200  100       0     0     0>//14
            , <&key_physical_attrs 100 100  300  105       0     0     0>//15
            , <&key_physical_attrs 100 100  400  115       0     0     0>//16
            , <&key_physical_attrs 100 100  500  130       0     0     0>//17
            , <&key_physical_attrs 100 100  700  130       0     0     0>//18
            , <&key_physical_attrs 100 100  800  115       0     0     0>//19
            , <&key_physical_attrs 100 100  900  105       0     0     0>//20
            , <&key_physical_attrs 100 100 1000  100       0     0     0>//21
            , <&key_physical_attrs 100 100 1100  110       0     0     0>//22
            , <&key_physical_attrs 100 100 1200  120       0     0     0>//23
            , <&key_physical_attrs 100 100    0  220       0     0     0>//24
            , <&key_physical_attrs 100 100  100  210       0     0     0>//25
            , <&key_physical_attrs 100 100  200  200       0     0     0>//26
            , <&key_physical_attrs 100 100  300  205       0     0     0>//27
            , <&key_physical_attrs 100 100  400  215       0     0     0>//28
            , <&key_physical_attrs 100 100  500  230       0     0     0>//29
            , <&key_physical_attrs 100 100  700  230       0     0     0>//30
            , <&key_physical_attrs 100 100  800  215       0     0     0>//31
            , <&key_physical_attrs 100 100  900  205       0     0     0>//32
            , <&key_physical_attrs 100 100 1000  200       0     0     0>//33
            , <&key_physical_attrs 100 100 1100  210       0     0     0>//34
            , <&key_physical_attrs 100 100 1200  220       0     0     0>//35
            , <&key_physical_attrs 100 100    0  320       0     0     0>//36
            , <&key_physical_attrs 100 100  100  310       0     0     0>//37
            , <&key_physical_attrs 100 100  200  300       0     0     0>//38
            , <&key_physical_attrs 100 100  300  305       0     0     0>//39
            , <&key_physical_attrs 100 100  400  315       0     0     0>//40
            , <&key_physical_attrs 100 100  500  330       0     0     0>//41
            , <&key_physical_attrs 100 100  700  330       0     0     0>//42
            , <&key_physical_attrs 100 100  800  315       0     0     0>//43
            , <&key_physical_attrs 100 100  900  305       0     0     0>//44
            , <&key_physical_attrs 100 100 1000  300       0     0     0>//45
            , <&key_physical_attrs 100 100 1100  310       0     0     0>//46
            , <&key_physical_attrs 100 100 1200  320       0     0     0>//47
            , <&key_physical_attrs 100 100  200  400       0     0     0>//48
            , <&key_physical_attrs 100 100  300  405       0     0     0>//49
            , <&key_physical_attrs 200 100  350  550   31500   350   550>//50
            , <&key_physical_attrs 200 100  420  620   31500   420   620>//51
            , <&key_physical_attrs 200 100  800  500  328500   800   500>//52
            , <&key_physical_attrs 200 100  820  420  328500   820   420>//53
            , <&key_physical_attrs 100 100  900  405       0     0     0>//54
            , <&key_physical_attrs 100 100 1000  400       0     0     0>//55
            , <&key_physical_attrs 100 100  100  920   33000    50    50>//56
            , <&key_physical_attrs 100 100    0  920   33000    50    50>//57
            , <&key_physical_attrs 100 100    0  820   33000    50    50>//58
            , <&key_physical_attrs 100 100  100  820   33000    50    50>//59
            , <&key_physical_attrs 100 100 1090  770  327000  1150    50>//60
            , <&key_physical_attrs 100 100 1200  820  327000  1250    50>//61
            , <&key_physical_attrs 100 100 1090  870  327000  1150    50>//62
            , <&key_physical_attrs 100 100 1200  920  327000  1250    50>//63
            ;
    };
};
