
  /*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/ext_power.h>
  #include "keys_it.h"
/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 0 &to 0>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1 &to 1>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 2 &to 2>;
        };
        btl: ble_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC &kp ESC &kp ESC &kp ESC &to 3 >;
        };
    };

    keymap {
      compatible = "zmk,keymap";
  layer0 {
          bindings = <
            &kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5     &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS 
            &kp LALT &kp Q &kp W &kp E &kp R &kp T        &kp Y &kp U &kp I &kp O &kp P &kp LBKT 
            &kp CAPS &kp A &kp S &kp D &kp F &kp G        &kp H &kp J &kp K &kp L &kp SEMICOLON &kp SQT 
            &kp TAB  &kp Z &kp X &kp C &kp V &kp B            &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp BSLH 

              &kp K_VOL_DN2 &kp K_VOL_UP2                 &kp K_PP &kp K_NEXT 
                      &kp LWIN &kp BSPC                  &kp SPACE &kp RET 
                      &td1 &kp LALT                         &kp LCTRL  &kp LSHFT 
                      &kp LCTRL  &kp LSHFT            &kp DEL &td2
          >;
        };layer1 {
          bindings = <
            &kp F12 &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                                                              &trans &trans &trans &trans &trans &trans
            &kp F17 &trans &trans &kp UP &trans &kp F18                                                              &trans &trans &trans &trans &trans &trans 
            &kp GRAVE &kp PAUSE_BREAK &kp LEFT &kp DOWN &kp RIGHT                                                   &trans &trans &trans &trans &trans &trans &trans 
            &kp SPACE &kp C_BRI_DN &kp C_BRI_UP &kp K_CALC &kp PSCRN &kp NUBS          &trans &trans &trans &trans &trans &trans 

                &kp K_MUTE &trans                                                                                       &trans &trans 
                        &trans &kp DELETE                                                                                       &trans &trans 
                                &td0 &trans                                                                                   &trans &trans 
                                &trans &trans                                                                                   &trans &trans
          >;
        };layer2 {
          bindings = <
          &trans &trans &trans &trans &trans &trans     &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 
          &trans &trans &trans &trans &trans &trans     &kp KP_SLASH &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp EQUAL &kp RBKT 
          &trans &trans &trans &trans &trans &trans     &kp KP_ASTERISK &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp LNLCK &kp SQT 
          &trans &trans &trans &trans &trans &trans     &kp KP_MINUS &kp KP_N1 &kp KP_N2 &kp KP_N3 &trans &kp BSLH 
                        &trans &trans                                       &kp K_PREV &trans 
                        &trans &trans                                       &kp KP_PLUS &trans 
                        &trans &trans                                       &kp KP_N0 &trans 
                        &trans &trans                                       &kp KP_DOT &td0
          >;
        };layer3 {
          bindings = <
          &td0   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &bt BT_SEL 5 &bt BT_SEL 6 &bt BT_SEL 7 &bt BT_SEL 8  &bt BT_SEL 9 &bt BT_CLR
          &trans &trans &trans &trans &bootloader &trans                                   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans                                   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans                                   &trans &trans &trans &trans &trans &trans 
                        &trans &trans                                                               &trans &trans               
                               &trans &trans                                                 &trans &trans                                   
                                    &trans &trans                                       &trans &trans         
                                    &trans &trans                                       &trans &trans
          >;
        };

        extra1 {
            status = "reserved";
        };
        extra2 {
            status = "reserved";
        };
    };

};